# محیط‌های مجازی
venv/
env/
.venv/

# فایل‌های پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های محیطی و کلیدها
.env
*.env

# فایل‌های آپلود شده
uploads/
temp/

# فایل‌های سیستمی
.DS_Store
Thumbs.db
*.log

# فایل‌های اجرایی
*.exe
*.msi